#__next {
    width: 100vw;
    height:100vh;
    display: flex;
}

// Default Colors
.background-white {
    background-color: #fffff6e3;
}

.background-black {
    background-color: #181818;
}

// Flex Defaults
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-justify-end {
    justify-content: flex-end;
}

// Size Defaults
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-auto {
    height: auto;
}

// Spacing Default
.margin-none {
    margin: 0 !important;
}

.padding-none {
    padding: 0 !important;
}